@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Rajdhani';
}

.container{
    padding:  30px 80px;
    width: 100%;
}
a {
    font-family: 500;
}
.me {
    width: 100%;
    margin-top: 30px;
    display: flex;
    padding-bottom: 50px;
}

.me h1 {
    color: #46749A;
    font-size: 50px;
    text-align: left;
}

.left {
    text-align: left;
    width: 56%;
    padding-right: 10px;
}

.right {
    margin-left: 55px;
    width: 40%;
}
.right img {
    width: 24rem;
    height: 24rem;
    border-radius: 10px;
    border: 1px solid #fbfbfb;
    animation: slideIn 1.5s ease-in-out forwards;
}


/* intro */
.intro {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    background-color: #fff;
    animation: expand .8s ease forwards;
    color: #333;
}


  
  @keyframes expand {
    0% {
      transform: translateY(150px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  


/* social */
.social {
    margin-top: 30px;
 
     text-align: left;
}
.social a {
    font-size: 30px;
    margin-right: 13px;
}




.contact {
    text-align: left;
    margin-top: 30px;
}



a {
    font-weight: 500;
    text-decoration: none;
}


input {
    padding: 5px;
    width: 50%;
}


nav {
    /* border-bottom: 1px solid #fbfbfb; */
    padding: 10px 0;
    padding-bottom: 15px;
    /* border-bottom: 2px solid #e6dbfc; */
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-right: 20px;
    
}
nav a {
    color: #333;
    font-size: 19px;
    font-weight: 400;
    padding: 5px 0;
}
nav a:hover {
    border-bottom: 2px solid #673bb7;
}


@media (max-width: 900px) {
   .me {
    display: block;
   }
   .left, .right {
    width: 100%;
   }
   .right  {
    margin-left: 0px;
   }
   
   .container {
    padding:  50px;
   }
   nav ul li {
    margin-right: 10px;
    
}
nav a {
   
    font-size: 17px;
}
.social a {
    font-size: 23px;
    margin-right: 13px;
}
.social {
    margin-bottom: 30px;
 

}
.right img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #fbfbfb;
}
}